<script type="text/javascript" src="http://travistidwell.com/jsencrypt/bin/jsencrypt.js"></script>
<script>
function getEncryptedPassword (password) {
    var publicKey = "PUBLIC_KEY_STRING";

    var encrypt = new JSEncrypt();
    encrypt.setPublicKey(publicKey);

    return encrypt.encrypt(password);
}


alert(getEncryptedPassword("passwords"));

</script>